<launch>

  <arg name="rvizconfig" default="$(find goliath_description)/rviz/urdf.rviz" />
  <remap from="goliath_motion/joint_states" to="joint_states"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find goliath_description)/urdf/goliath_model.xacro'" />

  <node name="teleop" pkg="goliath_teleop" type="teleop_key" output="screen" />
  <node name="goliath_motion" pkg="goliath_motion" type="goliath_motion" />
  <node name="servo_emul" pkg="goliath_simulation" type="servo_emulator" >
    <param name="controller_name" type="str" value="goliath_motion" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
